<!DOCTYPE html>
<html ng-app="NotasApp">
<head>
	<title>App</title>
	<link rel="stylesheet" type="text/css" href="./Lib/css/bootstrap2.min.css">    
	<meta charset="UTF-8"/>
</head>
<body>
	<div class="container">
	<div ng-controller="NotasAppCrl">
		<h2>Cabulador</h2>
	<accordion close-others="oneAtATime">
		<accordion-group heading="{{materia.title}}" ng-repeat="materia in materias | orderBy: 'title'">
		  <form >
		  	<div class="controls controls-row">
		  		<h4>Nome da Disciplina e Faltas</h4>
				<input class="span4" type="text" placeholder="Nome da Matéria" ng-model="materia.title">
				<input class="span2" type="text" placeholder="Faltas">
				<button class="btn btn-warning span1">+1</button>
			</div>
			<div class="controls controls-row">
				<h4>Notas</h4>
				<input class="span1" type="text" placeholder="1º B">
				<input class="span1" type="text" placeholder="2º B">
				<input class="span1" type="text" placeholder="1º Sub">
				<input class="span1" type="text" placeholder="3º B">
				<input class="span1" type="text" placeholder="4º B">
				<input class="span1" type="text" placeholder="2º Sub">
			</div>
			 <button type="submit" class="btn btn-success">Salvar</button>
			 <button type="submit" class="btn btn-danger">Excluir</button>
		  </form>
		</accordion-group>	    
	</accordion>
	</div>
	</div>

	<script type="text/javascript" src="./Lib/js/angular.min.js"></script>
	<script src="./Lib/js/ui-bootstrap-tpls-0.6.0.min.js"></script>
	<script src="./app.js"></script>

</body>
</html>